<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <title>Potvrda uplata</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Uspješno poslan listić!</h1>
  <p>Skreni QR kod da vidiš svoj listić:</p>
  <img src="<%= qrImage %>" alt="QR kod">
  <p><a href="/ticket">Natrag na uplatu</a></p>
</body>
</html>
